@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

$color-black: #07010F;
$color-white: #FFFFFF;

$color-purple: #7B4AE2;

$font-text: 'Poppins', sans-serif;
$font-title: 'Poppins', sans-serif;