*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{

    /*HERO*/
    &__hero{
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;

        >h3{
            font-size: 32px;
        }
    }

    /*EVENT*/

    &__events{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;


    }

    &__event{
        width: 100%;
        padding: 80px 40px;

        display: grid;

        grid-template-columns: 2;
        grid-auto-rows: auto;
        gap: 32px;

        &:nth-child(2n){
            background-color: lightgray;
        }
    }

    &__eventImage{
        width: 300px;
        transform: translateX(-500px);

        grid-column: 1;
        grid-row: span 3;

        &--show{
            transform: translateX(0);
        }
    }

    &__eventTitle{
        font-size: 24px;
        transform: translateX(500px);

        grid-column: 2;

        &--show{
            transform: translateX(0);
        }
    }

    &__eventData{
        font-size: 20px;
        transform: translateX(500px);

        grid-column: 2;

        &--show{
            transform: translateX(0);
        }
    }

    &__eventLink{
        display: flex;
        font-size: 20px;
        transform: translateY(50px);
        height: fit-content;

        grid-column: 2;

        &--show{
            transform: translateY(0);
        }
    }

    /*FOOTER*/
    &__footer{
        width: 100%;
        height: 240px;

        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;

        >h3{
            font-size: 32px;
        }
    }
}